.toast-container{
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 10000;
}

.slds-modal__container {
    /*position: fixed !important; 
    bottom: 10%;
    left: 0; 
    z-index: 1001; 
    width: auto ; 
    height:auto;
    margin: 0;
    padding: 0; 
    backdrop-filter: none;
    filter: none;
    opacity: 1;
    pointer-events: auto;
    top: 30%;
    left: 30%;
    margin-right: -30%;*/
    position: fixed !important;
    bottom: 10%;
    left: 0;
    z-index: 1001;
    width: 20px;
    height: 485px;
    overflow: visible;
    overflow-y: visible;
    margin: 0;
    padding: 0;
    backdrop-filter: none;
    filter: none;
    opacity: 1;
    pointer-events: auto;
    top: 18%;
    left: 30%;
    margin-right: -29%;
}
.slds-fade-in-open{
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity .1s linear;
}
.slds-modal__container{
    left: 35%;
}
.slds-modal__header{
    background-color: rgb(0, 0, 0);
}

.custom-button{
    background-color: black;
     color: white; 
     border: none;
      padding: 10px 20px; 
      font-size: 13px; 
      cursor: pointer; 
      border-radius: 7px; 
}
lightning-input{
    --slds-c-input-radius-border: 0px;
    --slds-c-input-background: transparent;

    
    }